*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}

html{
	font-size: 62.5%;
}

body{
	width:100vw;
	height: 100vh;
	padding:2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all 0.5s ease-out;
}

.toggle__btn{
    font-family: monospace;
    padding: 1.8rem 4rem;
    font-size: 2rem;
    font-weight: bold;
    border: none;
    background: white;
    color: black;
    box-shadow: 0.2rem 0.2rem 0px rgb(0 0 0 / 80%);
    border: 0.1rem solid #616161;
}

.dark__theme{
	background-color: black;
}

.toggle__btn--dark{
	background:black;
    color:white;
    box-shadow: 0.2rem 0.2rem 0px rgb(255 255 255 / 100%);
    border: 0.1rem solid white;	
}
